@charset "utf-8";
/* CSS Document */

/*
カラーコード

オレンジ：#e39b33
グレーライン：#dcdcdc
シャドウ：rgba(58,58,58,.4)
ボタンカラー：#de7928

/*↓フォーム部分以外の共通部分*/

/*-------------------- ▼共通CSS▼ ------------------------*/
html{
	-webkit-text-size-adjust: 100%;
}
body{	
	color:#222222;
	font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	/*font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";*/
	font-size:14px;
	line-height:1.7;
	font-weight:500;
	/*letter-spacing:0.05em;*/
	background-color:#FFFFFF;
}

.Midashi{
	font-family: 'Work Sans', sans-serif;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	color:#222222;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	text-decoration:underline;
}
a:hover{
	color:#999999;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	/*filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;*/
}

.border{
	border:1px solid #000000;	
}

header{
	width:100%;
	margin:0 auto;	
	padding:0 0 6px 0;
	background:url(../images/common/img_header_bottom_sp.jpg) left bottom repeat-x transparent;
	background-size:525px 6px;
	
	position:fixed;
	top:0;
	z-index:10000;
}
.l-header{
	width: 100%;
	background-color:#FFFFFF;
	
}
.l-header-table{
	width:100%;
	margin: 0 auto 0;
	display:table;
	padding:0;
}
.l-header-left{
	display:table-cell;		
	width:100%;
	vertical-align:middle;
	line-height:0;
	padding:0;
}
.l-header-left a{
	display:inline-block;
	padding:12px 0 11px 14px;
	line-height:0;
}
.l-header-left img{
	width:81px;
	height:40px;
}

#wrapper{
	width:100%;
	margin:0 auto;
	/*padding:0;*/
	/*letter-spacing:0.1em;*/
	position:relative;
}

.l-wrapper{
	width:100%;
	margin:0px auto;
}

.l-container{
	width:100%;
	margin:0px auto;
}

.l-inner{
	max-width:768px;
	width:100%;
	margin:0 auto;
	padding:0 42px;
}
.l-inner02{
	max-width:768px;
	width:100%;
	margin:0 auto;
	padding:0 21px;
}

footer{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:28px 0;
	background-color:#000000;
}
footer p{
	font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;	
}
footer .p-message{
	font-size:14px;
	color:#FFFFFF;
}
footer .p-copy{
	font-size:13px;
	color:#818181;
	padding-top:28px;
}
	
.sponly1_5{
	display:block !important;
}

.sponly2{
	display:none !important;
}

/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	header{
		width:100%;
		margin:0 auto;	
		padding:0 0 4px 0;
		background:url(../images/common/img_header_bottom_sp.jpg) left bottom repeat-x transparent;
		background-size:375px 4px;
		
		position:fixed;
		top:0;
		z-index:10000;
	}
	.l-header{
		width: 100%;
		background-color:#FFFFFF;
		
	}
	.l-header-table{
		width:100%;
		margin: 0 auto 0;
		display:table;
		padding:0;
	}
	.l-header-left{
		display:table-cell;		
		width:100%;
		vertical-align:middle;
		line-height:0;
		padding:0;
	}
	.l-header-left a{
		display:inline-block;
		padding:8px 0 8px 10px;
		line-height:0;
	}
	.l-header-left img{
		width:58px;
		height:29px;
	}
	
	.l-inner{
		max-width:480px;
		width:100%;
		margin:0 auto;
		padding:0 30px;
	}
	.l-inner02{
		max-width:480px;
		width:100%;
		margin:0 auto;
		padding:0 15px;
	}
	
	footer{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:20px 0;
		background-color:#000000;
	}
	footer p{
		font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;	
	}
	footer .p-message{
		font-size:13px;
		color:#FFFFFF;
	}
	footer .p-copy{
		font-size:12px;
		color:#818181;
		padding-top:14px;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:block !important;
	}
	
	
}
/*↑フォーム部分以外の共通部分*/

/*共通*/
.l-mvBlock{
	padding:0;
}
.l-mv{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-mv .p-title{
	font-size:25px;
	font-weight:bold;
	padding:35px 0;
}
.l-mv .p-image img{
	max-width:483px;
	width: 100%;
}
.l-mv .p-image{
	padding:0 0 28px 0;
}

/*step共通*/
.l-title{	
	width:100%;
	margin:0 auto;
	text-align:center;
	background-color:#e8c446;
	padding:12px 21px;
	display:table;
}
.l-title .p-title{	
	width:40%;
	text-align:left;
	display:table-cell;
	font-size:22px;
	font-weight:bold;
	vertical-align:middle;
}
.l-title .p-number{	
	width:60%;
	text-align:right;
	display:table-cell;
	line-height:1;
	vertical-align:middle;
}
.l-title .p-number p{	
	width:100%;
	text-align:right;
}
.l-title .p-number img{	
	max-width:214px;
	width:100%;
	text-align:right;
	display:inline !important;
}

.l-table table{
	width:100%;	
}
.l-table table tr th{
	width:100%;
	display:block;
	background-color:#feecd3;
	padding:14px 21px;
	text-align:left;
	font-size:22px;
	font-weight:bold;
}
.l-table table tr th span{
	display:inline-block;
}
.l-table table tr th img{
	max-width:77px;
	width:100%;
	text-align:left;
	display:inline !important;
	position:relative;
	top:7px;
	left:25px;
}
.l-table table tr td{
	width:100%;
	display:block;
	padding:42px 42px;
	text-align:left;
}
.l-table table tr td .p-title{
	border-left:6px solid #474646;
	font-size:22px;
	font-weight:bold;
	padding-left:0.5em;
	line-height:1;
}
.l-table table tr td .p-title:first-of-type{
	
}
.l-table table tr td .p-data{
	font-size:22px;
	padding:21px 0;
	word-break : break-all;
	word-wrap : break-word;
  	overflow-wrap : break-word;
}
.l-table table tr td .p-data:last-of-type{
	font-size:22px;
	padding:21px 0 0;
}

/*ボタンレイアウト*/
.l-button{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:49px 42px 70px;
}
.l-button .p-back{
	display:inline-block;
	width: 30%;
	margin:0 auto;
	text-align:left;
	padding:0 20px 0 0;
}
.l-button .p-back a{
	width: 100%;
	display:block;
	text-align:center;
	padding:18px 0;
	background-color:#888787;
	color:#FFFFFF;
	text-decoration:none;
	font-size:21px;
	border-radius:10px;
	line-height:1;
	font-weight:bold;
}
.l-button .p-back input[type="button"]{
	border-radius: 0;
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	appearance: button;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	
	width: 100%;
	display:block;
	text-align:center;
	padding:18px 35px;
	background-color:#888787;
	color:#FFFFFF;
	text-decoration:none;
	font-size:21px;
	border-radius:10px;
	line-height:1;
	font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-weight:bold;
}
.l-button .p-next{
	display:inline-block;
	width: 70%;
	margin:0 auto;
	text-align:left;
	padding:0 0 0 14px;
}
.l-button .p-next input[type="button"],
.l-button .p-next input[type="submit"]{
	border-radius: 0;
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	appearance: button;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	
	width: 100%;
	display:block;
	text-align:center;
	padding:18px 0;
	background-color:#e5521f;
	color:#FFFFFF;
	font-size:21px;
	border-radius:10px;
	line-height:1;
	font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-weight:bold;
}
.l-button .p-back input[type="button"]::-webkit-search-decoration,
.l-button .p-next input[type="button"]::-webkit-search-decoration,
.l-button .p-next input[type="submit"]::-webkit-search-decoration {
	display: none;
}
.l-button .p-back input[type="button"]::focus,
.l-button .p-next input[type="button"]::focus,
.l-button .p-next input[type="submit"]::focus {
	outline-offset: -2px;
}
.l-button .p-next input[type="button"].dis{
	background-color:#c9c9c9;
}

/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mvBlock{
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv .p-title{
		font-size:18px;
		font-weight:bold;
		padding:25px 0;
	}
	.l-mv .p-image img{
		max-width:345px;
		width: 100%;
	}
	.l-mv .p-image{
		padding:0 0 20px 0;
	}
	
	/*step共通*/
	.l-title{	
		width:100%;
		margin:0 auto;
		text-align:center;
		background-color:#e8c446;
		padding:10px 15px;
		display:table;
	}
	.l-title .p-title{	
		width:40%;
		text-align:left;
		display:table-cell;
		font-size:16px;
		font-weight:bold;
		vertical-align:middle;
	}
	.l-title .p-number{	
		width:60%;
		text-align:right;
		display:table-cell;
		line-height:1;
		vertical-align:middle;
	}
	.l-title .p-number p{	
		width:100%;
		text-align:right;
	}
	.l-title .p-number img{	
		max-width:153px;
		width:100%;
		text-align:right;
		display:inline !important;
	}
	
	.l-table table{
		width:100%;	
	}
	.l-table table tr th{
		width:100%;
		display:block;
		background-color:#feecd3;
		padding:10px 15px;
		text-align:left;
		font-size:16px;
		font-weight:bold;
	}
	.l-table table tr th span{
		display:inline-block;
	}
	.l-table table tr th img{
		max-width:55px;
		width:100%;
		text-align:left;
		display:inline !important;
		position:relative;
		top:5px;
		left:25px;
	}
	.l-table table tr td{
		width:100%;
		display:block;
		padding:30px 15px;
		text-align:left;
	}
	.l-table table tr td .p-title{
		border-left:4px solid #474646;
		font-size:16px;
		font-weight:bold;
		padding-left:0.5em;
		line-height:1;
	}
	.l-table table tr td .p-title:first-of-type{
		
	}
	.l-table table tr td .p-data{
		font-size:16px;
		padding:15px 0;
	}
	.l-table table tr td .p-data:last-of-type{
		font-size:16px;
		padding:15px 0 0;
	}
	
	/*ボタンレイアウト*/
	.l-button{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:35px 30px 50px;
	}
	.l-button .p-back{
		display:inline-block;
		width: 35%;
		margin:0 auto;
		text-align:left;
		padding:0 15px 0 0;
	}
	.l-button .p-back a{
		width: 100%;
		display:block;
		text-align:center;
		padding:13px 0;
		background-color:#888787;
		color:#FFFFFF;
		text-decoration:none;
		font-size:15px;
		border-radius:10px;
		line-height:1;
	}
	.l-button .p-back input[type="button"]{
		background-color: transparent;
		border: none;
		cursor: pointer;
		outline: none;
		padding: 0;
		appearance: none;
		
		width: 100%;
		display:block;
		text-align:center;
		padding:13px 25px;
		background-color:#888787;
		color:#FFFFFF;
		text-decoration:none;
		font-size:15px;
		border-radius:10px;
		line-height:1;
		font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	}
	.l-button .p-next{
		display:inline-block;
		width: 65%;
		margin:0 auto;
		text-align:left;
		padding:0 0 0 10px;
	}
	.l-button .p-next input[type="button"],
	.l-button .p-next input[type="submit"]{
		background-color: transparent;
		border: none;
		cursor: pointer;
		outline: none;
		padding: 0;
		appearance: none;
		
		width: 100%;
		display:block;
		text-align:center;
		padding:13px 0;
		background-color:#e5521f;
		color:#FFFFFF;
		font-size:15px;
		border-radius:10px;
		line-height:1;
		font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	}
	.l-button .p-next input[type="button"].dis{
		background-color:#c9c9c9;
	}
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/