@charset "utf-8";
/* CSS Document */

/*
カラーコード

オレンジ：#e39b33
グレーライン：#dcdcdc
シャドウ：rgba(58,58,58,.4)
ボタンカラー：#de7928

/*↓フォーム部分以外の共通部分*/

/*-------------------- ▼共通CSS▼ ------------------------*/
html{
	-webkit-text-size-adjust: 100%;
}
body{	
	color:#222222;
	font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	/*font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";*/
	font-size:14px;
	line-height:1.7;
	font-weight:500;
	/*letter-spacing:0.05em;*/
	background-color:#FFFFFF;
}

.Midashi{
	font-family: 'Work Sans', sans-serif;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	color:#222222;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	text-decoration:underline;
}
a:hover{
	color:#999999;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	/*filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;*/
}

.border{
	border:1px solid #000000;	
}

header{
	width:100%;
	margin:0 auto;	
	padding:0 0 6px 0;
	background:url(../images/common/img_header_bottom_sp.jpg) left bottom repeat-x transparent;
	background-size:525px 6px;
	
	position:fixed;
	top:0;
	z-index:10000;
}
.l-header{
	width: 100%;
	background-color:#FFFFFF;
	
}
.l-header-table{
	width:100%;
	margin: 0 auto 0;
	display:table;
	padding:0;
}
.l-header-left{
	display:table-cell;		
	width:100%;
	vertical-align:middle;
	line-height:0;
	padding:0;
}
.l-header-left a{
	display:inline-block;
	padding:12px 0 11px 14px;
	line-height:0;
}
.l-header-left img{
	width:81px;
	height:40px;
}

#wrapper{
	width:100%;
	margin:0 auto;
	/*padding:0;*/
	/*letter-spacing:0.1em;*/
	position:relative;
}

.l-wrapper{
	width:100%;
	margin:0px auto;
}

.l-container{
	width:100%;
	margin:0px auto;
}

.l-inner{
	max-width:768px;
	width:100%;
	margin:0 auto;
	padding:0 42px;
}
.l-inner02{
	max-width:768px;
	width:100%;
	margin:0 auto;
	padding:0 21px;
}

footer{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:28px 0;
	background-color:#000000;
}
footer p{
	font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;	
}
footer .p-message{
	font-size:14px;
	color:#FFFFFF;
}
footer .p-copy{
	font-size:13px;
	color:#818181;
	padding-top:28px;
}
	
.sponly1_5{
	display:block !important;
}

.sponly2{
	display:none !important;
}

/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	header{
		width:100%;
		margin:0 auto;	
		padding:0 0 4px 0;
		background:url(../images/common/img_header_bottom_sp.jpg) left bottom repeat-x transparent;
		background-size:375px 4px;
		
		position:fixed;
		top:0;
		z-index:10000;
	}
	.l-header{
		width: 100%;
		background-color:#FFFFFF;
		
	}
	.l-header-table{
		width:100%;
		margin: 0 auto 0;
		display:table;
		padding:0;
	}
	.l-header-left{
		display:table-cell;		
		width:100%;
		vertical-align:middle;
		line-height:0;
		padding:0;
	}
	.l-header-left a{
		display:inline-block;
		padding:8px 0 8px 10px;
		line-height:0;
	}
	.l-header-left img{
		width:58px;
		height:29px;
	}
	
	.l-inner{
		max-width:480px;
		width:100%;
		margin:0 auto;
		padding:0 30px;
	}
	.l-inner02{
		max-width:480px;
		width:100%;
		margin:0 auto;
		padding:0 15px;
	}
	
	footer{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:20px 0;
		background-color:#000000;
	}
	footer p{
		font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;	
	}
	footer .p-message{
		font-size:13px;
		color:#FFFFFF;
	}
	footer .p-copy{
		font-size:12px;
		color:#818181;
		padding-top:14px;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:block !important;
	}
	
	
}
/*↑フォーム部分以外の共通部分*/

/*共通*/
.l-mvBlock{
	padding:0;
}
.l-mv{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-mv .p-title{
	font-size:25px;
	font-weight:bold;
	padding:35px 0;
}
.l-mv .p-image img{
	max-width:483px;
	width: 100%;
}
.l-mv .p-image{
	padding:0 0 28px 0;
}

/*step共通*/
.l-title{	
	width:100%;
	margin:0 auto;
	text-align:center;
	background-color:#e8c446;
	padding:12px 21px;
	display:table;
}
.l-title .p-title{	
	width:40%;
	text-align:left;
	display:table-cell;
	font-size:22px;
	font-weight:bold;
	line-height:1;
	vertical-align:middle;
}
.l-title .p-number{	
	width:60%;
	text-align:right;
	display:table-cell;
	line-height:1;
	vertical-align:middle;
}
.l-title .p-number p{	
	width:100%;
	text-align:right;
}
.l-title .p-number img{	
	max-width:169px;
	width:100%;
	text-align:right;
	display:inline !important;
}

.l-table table{
	width:100%;	
}
.l-table table tr th{
	width:100%;
	display:block;
	background-color:#feecd3;
	padding:14px 21px;
	text-align:left;
	font-size:22px;
	font-weight:bold;
}
.l-table table tr th span{
	display:inline-block;
}
.l-table table tr th img{
	max-width:77px;
	width:100%;
	text-align:left;
	display:inline !important;
	position:relative;
	top:7px;
	left:25px;
}
.l-table table tr td{
	width:100%;
	display:block;
	padding:36px 21px 6px;
	text-align:left;
}

.l-table table tr td input[type="text"],
.l-table table tr td input[type="tel"] {
	font-size:21px;
	padding:21px;
	width:100%;
	font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	border:1px solid #9b9b9b;
	margin-bottom:10px;
}
.l-table table tr td input[type="text"].err,
.l-table table tr td input[type="tel"].err {
	background-color:#ffc3c3;
}

.l-table table tr td select {
	-moz-appearance: none;
	  -webkit-appearance: none;
	  appearance: none;
	  border-radius: 0;
	  border: 0;
	  margin: 0;
	  padding: 0;
	  background: none transparent;
	  vertical-align: middle;
	  font-size: inherit;
	  color: inherit;
	
	border:1px solid #9b9b9b;
	background:url(../images/form/img_select_sp.png) right 1.5em center no-repeat transparent;
	
	font-size:21px;
	padding:21px 21px 21px;
	width:100%;
	font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	margin-bottom:10px;
}
.l-table table tr td select.err {
	background-color:#ffc3c3;
}

.l-table table tr td .p-err {
	font-size:18px;
	font-weight:bold;
	padding-top:3px;
	color:#ff1c1c;
	line-height:0;
	visibility:visible;
}
.l-table table tr td .p-err.hid {
	visibility:hidden;	
}

.l-agree{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0 21px;
	display:none;
}
.l-agree .l-agree-table{
	width: 100%;
	margin:0 auto 36px;
	text-align:left;
	padding:21px 21px 6px;
	background-color:#efefef;
}
.l-agree .l-agree-table > p{
	color:#474646;
	font-size:18px;
	text-align:left;
	font-weight:bold;
	padding-bottom:21px;
}
.l-agree .l-agree-table .l-agreeBlock label{
	background-color:#FFFFFF;
	border:1px solid #d0d0d0;
	padding:18px;
	width:100%;
	display:block;
	margin-bottom:10px;
}
.l-agree .l-agree-table .p-err {
	font-size:18px;
	font-weight:bold;
	padding-top:3px;
	color:#ff1c1c;
	line-height:0;
	visibility:visible;
}
.l-agree .l-agree-table .l-agreeBlock label.err{
	background-color:#ffc3c3;
}
.l-agree .l-agree-table .l-agreeBlock label:hover{
	cursor:pointer;
}
.checkbox01-input{
 	display: none;
}
.checkbox01-parts{
	color:#474646;
	font-size:21px;
	text-align:left;
	font-weight:bold;
	position:relative;
	padding-left:2.5em;
}
.checkbox01-parts::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 4px solid #d8d8d8;
}
.checkbox01-input:checked + .checkbox01-parts::after{
	content: "";
	display: block;
	position: absolute;
	top: 4px;
	left: 9px;
	width: 5px;
	height: 10px;
	transform: rotate(40deg);
	border-bottom: 5px solid #ed894d;
	border-right: 5px solid #ed894d;
}
.l-agree .l-agree-table .p-err {
	font-size:18px;
	font-weight:bold;
	padding-top:3px;
	color:#ff1c1c;
	line-height:0;
	visibility:visible;
}
.l-agree .l-agree-table .p-err.hid {
	visibility:hidden;	
}

/*step03*/
.l-table table tr td .l-area-table {
	width:100%;
	padding-bottom:42px;
}
.l-table table tr td .l-area-table:last-of-type {
	width:100%;
	padding-bottom:21px;
}
.l-table table tr td .l-area-table .l-area-header{
	border:1px solid #d0d0d0;
	border-radius: 10px 10px 0px 0px;
}
.l-table table tr td .l-area-table .l-area-header.p-all{
	border:1px solid #d0d0d0;
	border-radius: 10px;
}
.l-table table tr td .l-area-table .l-area-detail{
	border:1px solid #d0d0d0;
	border-top:none;
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 10px;
}
.l-table table tr td .l-area-table > .l-area-header label{
	padding:18px;
	width:100%;
	display:block;
}
.l-table table tr td .l-area-table > .l-area-header .p-err {
	font-size:18px;
	font-weight:bold;
	padding-top:3px;
	color:#ff1c1c;
	line-height:0;
	visibility:visible;
}
.l-table table tr td .l-area-table > .l-area-header label.err{
	background-color:#ffc3c3;
}
.l-table table tr td .l-area-table > .l-area-header label:hover{
	cursor:pointer;
}
.area-input{
 	display: none;
}
.area-parts{
	color:#474646;
	font-size:21px;
	text-align:left;
	font-weight:bold;
	position:relative;
	padding-left:2.5em;
}
.area-parts::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 3px solid #d8d8d8;
	border-radius:50%;
}
.area-input:checked + .area-parts::after{
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 10px;
	height: 10px;
	background: #ec5832;
	border-radius: 50%;
}
.l-table table tr td .l-area-table .p-err {
	font-size:18px;
	font-weight:bold;
	padding-top:3px;
	color:#ff1c1c;
	line-height:0;
	visibility:visible;
}
.l-table table tr td .l-area-table .p-err.hid {
	visibility:hidden;	
}

.l-table table tr td .l-area-table > .l-area-detail label{
	padding:18px;
	width:50%;
	display:inline-block;
	text-align:left;
	padding-left:10%;
}
.l-table table tr td .l-area-table > .l-area-detail label.dis{
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.l-table table tr td .l-area-table > .l-area-detail .p-err {
	font-size:18px;
	font-weight:bold;
	padding-top:3px;
	color:#ff1c1c;
	line-height:0;
	visibility:visible;
}
.l-table table tr td .l-area-table > .l-area-detail label.err{
	background-color:#ffc3c3;
}
.l-table table tr td .l-area-table > .l-area-detail label:hover{
	cursor:pointer;
}
.checkbox03-input{
 	display: none;
}
.checkbox03-parts{
	color:#474646;
	font-size:21px;
	text-align:left;
	font-weight:bold;
	position:relative;
	padding-left:2.5em;
}
.checkbox03-parts::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 3px solid #d8d8d8;
}
.checkbox03-input:checked + .checkbox03-parts::after{
	content: "";
	display: block;
	position: absolute;
	top: 4px;
	left: 9px;
	width: 5px;
	height: 10px;
	transform: rotate(40deg);
	border-bottom: 5px solid #ed894d;
	border-right: 5px solid #ed894d;
}

/*step04*/
.l-table table tr td .l-area-table2 {
	width:100%;
	padding-bottom:42px;
}
.l-table table tr td .l-area-table2:last-of-type {
	width:100%;
	padding-bottom:21px;
}
.l-table table tr td .l-area-table2 .l-area-header2{
	border:1px solid #d0d0d0;
	border-radius: 10px 10px 0px 0px;
}
.l-table table tr td .l-area-table2 .l-area-header2.p-all{
	border:1px solid #d0d0d0;
	border-radius: 10px;
}
.l-table table tr td .l-area-table2 .l-area-detail2{
	border:1px solid #d0d0d0;
	border-top:none;
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 10px;
	padding:21px;
}
.l-table table tr td .l-area-table2 .l-area-detail2 .p-title{
	font-size: 21px;
    text-align: left;
    font-weight: bold;
	padding-bottom:18px;
}
.l-table table tr td .l-area-table2 .l-area-detail2 .p-title span{
	display: inline-block;
}
.l-table table tr td .l-area-table2 .l-area-detail2 .p-title span img{
	max-width: 77px;
    width: 100%;
    text-align: left;
    display: inline !important;
    position: relative;
    top: 7px;
    left: 25px;
}
.l-table table tr td .l-area-table2 .l-area-detail2 .p-kibou {
    text-align:center;
	background-color:#f8f8f8;
}

.l-table table tr td .l-area-table2 > .l-area-header2 label{
	padding:18px;
	width:50%;
	display:inline-block;
}
.l-table table tr td .l-area-table2 > .l-area-header2 .p-err {
	font-size:18px;
	font-weight:bold;
	padding-top:3px;
	color:#ff1c1c;
	line-height:0;
	visibility:visible;
}
.l-table table tr td .l-area-table2 > .l-area-header2 label.err{
	background-color:#ffc3c3;
}
.l-table table tr td .l-area-table2 > .l-area-header2 label:hover{
	cursor:pointer;
}
.area2-input{
 	display: none;
}
.area2-parts{
	color:#474646;
	font-size:21px;
	text-align:left;
	font-weight:bold;
	position:relative;
	padding-left:2.5em;
}
.area2-parts::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 3px solid #d8d8d8;
	border-radius:50%;
}
.area2-input:checked + .area2-parts::after{
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 10px;
	height: 10px;
	background: #ec5832;
	border-radius: 50%;
}
.l-table table tr td .l-area-table2 .p-err {
	font-size:18px;
	font-weight:bold;
	padding-top:3px;
	color:#ff1c1c;
	line-height:0;
	visibility:visible;
}
.l-table table tr td .l-area-table2 .p-err.hid {
	visibility:hidden;	
}

.l-table table tr td .l-area-table2 > .l-area-detail2 label{
	padding:18px;
	width:50%;
	display:inline-block;
	text-align:left;
	padding-left:10%;
}
.l-table table tr td .l-area-table2 > .l-area-detail2 label.dis{
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.l-table table tr td .l-area-table2 > .l-area-detail2 .p-err {
	font-size:18px;
	font-weight:bold;
	padding-top:3px;
	color:#ff1c1c;
	line-height:0;
	visibility:visible;
}
.l-table table tr td .l-area-table2 > .l-area-detail2 label.err{
	background-color:#ffc3c3;
}
.l-table table tr td .l-area-table2 > .l-area-detail2 label:hover{
	cursor:pointer;
}

.l-table table tr td .l-area-table3 {
	width:100%;
	padding-bottom:42px;
}
.l-table table tr td .l-area-table3:last-of-type {
	width:100%;
	padding-bottom:21px;
}
.l-table table tr td .l-area-table3 .l-area-header3{
	border:1px solid #d0d0d0;
	border-radius: 10px 10px 0px 0px;
}
.l-table table tr td .l-area-table3 .l-area-header3.p-all{
	border:1px solid #d0d0d0;
	border-radius: 10px;
}
.l-table table tr td .l-area-table3 .l-area-detail3{
	border:1px solid #d0d0d0;
	border-top:none;
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 10px;
	padding:21px;
}
.l-table table tr td .l-area-table3 .l-area-detail3 .p-title{
	font-size: 21px;
    text-align: left;
    font-weight: bold;
	padding-bottom:18px;
}
.l-table table tr td .l-area-table3 .l-area-detail3 .p-title span{
	display: inline-block;
}
.l-table table tr td .l-area-table3 .l-area-detail3 .p-title span img{
	max-width: 77px;
    width: 100%;
    text-align: left;
    display: inline !important;
    position: relative;
    top: 7px;
    left: 25px;
}
.l-table table tr td .l-area-table3 .l-area-detail3 .p-kibou {
    text-align:center;
	background-color:#f8f8f8;
	caret-color: transparent;
}
.l-table table tr td .l-area-table3 .l-area-detail3 .p-kibou.dis {
    text-align:center;
	background-color:#959595;
}

.l-table table tr td .l-area-table3 > .l-area-header3 label{
	padding:18px;
	width:50%;
	display:inline-block;
}
.l-table table tr td .l-area-table3 > .l-area-header3 .p-err {
	font-size:18px;
	font-weight:bold;
	padding-top:3px;
	color:#ff1c1c;
	line-height:0;
	visibility:visible;
}
.l-table table tr td .l-area-table3 > .l-area-header3 label.err{
	background-color:#ffc3c3;
}
.l-table table tr td .l-area-table3 > .l-area-header3 label:hover{
	cursor:pointer;
}
.area3-input{
 	display: none;
}
.area3-parts{
	color:#474646;
	font-size:21px;
	text-align:left;
	font-weight:bold;
	position:relative;
	padding-left:2.5em;
}
.area3-parts::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 3px solid #d8d8d8;
	border-radius:50%;
}
.area3-input:checked + .area3-parts::after{
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 10px;
	height: 10px;
	background: #ec5832;
	border-radius: 50%;
}
.l-table table tr td .l-area-table3 .p-err {
	font-size:18px;
	font-weight:bold;
	padding-top:3px;
	color:#ff1c1c;
	line-height:0;
}
.l-table table tr td .l-area-table3 .p-err.hid {
	visibility:hidden;	
}

.l-table table tr td .l-area-table3 > .l-area-detail3 label{
	padding:18px;
	width:50%;
	display:inline-block;
	text-align:left;
	padding-left:10%;
}
.l-table table tr td .l-area-table3 > .l-area-detail3 label.dis{
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.l-table table tr td .l-area-table3 > .l-area-detail3 .p-err {
	font-size:18px;
	font-weight:bold;
	padding-top:3px;
	color:#ff1c1c;
	line-height:0;
}
.l-table table tr td .l-area-table3 > .l-area-detail3 label.err{
	background-color:#ffc3c3;
}
.l-table table tr td .l-area-table3 > .l-area-detail3 label:hover{
	cursor:pointer;
}

/*step05*/
.l-table table.l-step05-table tr td{
	padding: 21px 21px 21px;
}
.l-table table.l-step05-table tr td .p-message{
	font-size:21px;
	color:#474646;
	padding-bottom:21px;
}
.l-table table.l-step05-table tr td .p-caution{
	font-size:20px;	
	color:#474646;	
	padding-bottom:21px;
}
.l-table table.l-step05-table tr td textarea{
	width:100%;
	font-size:20px;	
	color:#474646;
	font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	padding:21px;
}

/*ボタンレイアウト*/
.l-button{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:49px 42px 70px;
}
.l-button .p-back{
	display:inline-block;
	width: 30%;
	margin:0 auto;
	text-align:left;
	padding:0 20px 0 0;
}
.l-button .p-back a{
	width: 100%;
	display:block;
	text-align:center;
	padding:18px 0;
	background-color:#888787;
	color:#FFFFFF;
	text-decoration:none;
	font-size:21px;
	border-radius:10px;
	line-height:1;
	font-weight:bold;
}
.l-button .p-back input[type="button"]{
	border-radius: 0;
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	appearance: button;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	
	width: 100%;
	display:block;
	text-align:center;
	padding:18px 0;
	background-color:#888787;
	color:#FFFFFF;
	text-decoration:none;
	font-size:21px;
	border-radius:10px;
	line-height:1;
	font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-weight:bold;
}
.l-button .p-next{
	display:inline-block;
	width: 70%;
	margin:0 auto;
	text-align:left;
	padding:0 0 0 14px;
}
.l-button .p-next input[type="button"],
.l-button .p-next input[type="submit"]{
	border-radius: 0;
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	appearance: button;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	
	width: 100%;
	display:block;
	text-align:center;
	padding:18px 0;
	background-color:#e5521f;
	color:#FFFFFF;
	font-size:21px;
	border-radius:10px;
	line-height:1;
	font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-weight:bold;
}
.l-button .p-back input[type="button"]::-webkit-search-decoration,
.l-button .p-next input[type="button"]::-webkit-search-decoration,
.l-button .p-next input[type="submit"]::-webkit-search-decoration {
	display: none;
}
.l-button .p-back input[type="button"]::focus,
.l-button .p-next input[type="button"]::focus,
.l-button .p-next input[type="submit"]::focus {
	outline-offset: -2px;
}
.l-button .p-next input[type="button"].dis{
	background-color:#c9c9c9;
}

/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mvBlock{
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv .p-title{
		font-size:18px;
		font-weight:bold;
		padding:25px 0;
	}
	.l-mv .p-image img{
		max-width:345px;
		width: 100%;
	}
	.l-mv .p-image{
		padding:0 0 20px 0;
	}
	
	/*step共通*/
	.l-title{	
		width:100%;
		margin:0 auto;
		text-align:center;
		background-color:#e8c446;
		padding:10px 15px;
		display:table;
	}
	.l-title .p-title{	
		width:40%;
		text-align:left;
		display:table-cell;
		font-size:16px;
		font-weight:bold;
		line-height:1;
		vertical-align:middle;
	}
	.l-title .p-number{	
		width:60%;
		text-align:right;
		display:table-cell;
		line-height:1;
		vertical-align:middle;
	}
	.l-title .p-number p{	
		width:100%;
		text-align:right;
	}
	.l-title .p-number img{	
		max-width:121px;
		width:100%;
		text-align:right;
		display:inline !important;
	}
	
	.l-table table{
		width:100%;	
	}
	.l-table table tr th{
		width:100%;
		display:block;
		background-color:#feecd3;
		padding:10px 15px;
		text-align:left;
		font-size:16px;
		font-weight:bold;
	}
	.l-table table tr th span{
		display:inline-block;
	}
	.l-table table tr th img{
		max-width:55px;
		width:100%;
		text-align:left;
		display:inline !important;
		position:relative;
		top:5px;
		left:25px;
	}
	.l-table table tr td{
		width:100%;
		display:block;
		padding:27px 15px 0px;
		text-align:left;
	}
	
	.l-table table tr td input[type="text"],
	.l-table table tr td input[type="tel"] {
		font-size:16px;
		padding:15px;
		width:100%;
		font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		border:1px solid #9b9b9b;
		margin-bottom:5px;
	}
	.l-table table tr td input[type="text"].err,
	.l-table table tr td input[type="tel"].err {
		background-color:#ffc3c3;
	}
	
	.l-table table tr td select {
		-moz-appearance: none;
		  -webkit-appearance: none;
		  appearance: none;
		  border-radius: 0;
		  border: 0;
		  margin: 0;
		  padding: 0;
		  background: none transparent;
		  vertical-align: middle;
		  font-size: inherit;
		  color: inherit;
		
		border:1px solid #9b9b9b;
		background:url(../images/form/img_select_sp.png) right 1em center no-repeat transparent;
		background-size:12px 9px;
		
		font-size:16px;
		padding:15px;
		width:100%;
		font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		margin-bottom:5px;
	}
	.l-table table tr td select.err {
		background-color:#ffc3c3;
	}
	
	.l-table table tr td .p-err {
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		color:#ff1c1c;
		line-height:0;
		visibility:visible;
	}
	.l-table table tr td .p-err.hid {
		visibility:hidden;	
	}
	
	.l-agree{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 15px;
	}
	.l-agree .l-agree-table{
		width: 100%;
		margin:0 auto 27px;
		text-align:left;
		padding:15px 15px 0px;
		background-color:#efefef;
	}
	.l-agree .l-agree-table > p{
		color:#474646;
		font-size:13px;
		text-align:left;
		font-weight:bold;
		padding-bottom:15px;
	}
	.l-agree .l-agree-table .l-agreeBlock label{
		background-color:#FFFFFF;
		border:1px solid #d0d0d0;
		padding:13px;
		width:100%;
		display:block;
		margin-bottom:5px;
	}
	.l-agree .l-agree-table .p-err {
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		color:#ff1c1c;
		line-height:0;
		visibility:visible;
	}
	.l-agree .l-agree-table .l-agreeBlock label.err{
		background-color:#ffc3c3;
	}
	.l-agree .l-agree-table .l-agreeBlock label:hover{
		cursor:pointer;
	}
	.checkbox01-input{
		display: none;
	}
	.checkbox01-parts{
		color:#474646;
		font-size:15px;
		text-align:left;
		font-weight:bold;
		position:relative;
		padding-left:2em;
	}
	.checkbox01-parts::before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 12px;
		height: 12px;
		border: 3px solid #d8d8d8;
	}
	.checkbox01-input:checked + .checkbox01-parts::after{
		content: "";
		display: block;
		position: absolute;
		top: 2px;
		left: 5px;
		width: 4px;
		height: 8px;
		transform: rotate(40deg);
		border-bottom: 3px solid #ed894d;
		border-right: 3px solid #ed894d;
	}
	.l-agree .l-agree-table .p-err {
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		color:#ff1c1c;
		line-height:0;
		visibility:visible;
	}
	.l-agree .l-agree-table .p-err.hid {
		visibility:hidden;	
	}
	
	/*step03*/
	.l-table table tr td .l-area-table {
		width:100%;
		padding-bottom:20px;
	}
	.l-table table tr td .l-area-table:last-of-type {
		width:100%;
		padding-bottom:15px;
	}
	.l-table table tr td .l-area-table .l-area-header{
		border:1px solid #d0d0d0;
		border-radius: 10px 10px 0px 0px;
	}
	.l-table table tr td .l-area-table .l-area-header.p-all{
		border:1px solid #d0d0d0;
		border-radius: 10px;
	}
	.l-table table tr td .l-area-table .l-area-detail{
		border:1px solid #d0d0d0;
		border-top:none;
		border-radius: 0px 0px 10px 10px;
		margin-bottom: 5px;
	}
	.l-table table tr td .l-area-table > .l-area-header label{
		padding:13px 10px;
		width:100%;
		display:block;
	}
	.l-table table tr td .l-area-table > .l-area-header .p-err {
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		color:#ff1c1c;
		line-height:0;
		visibility:visible;
	}
	.l-table table tr td .l-area-table > .l-area-header label.err{
		background-color:#ffc3c3;
	}
	.l-table table tr td .l-area-table > .l-area-header label:hover{
		cursor:pointer;
	}
	.area-input{
		display: none;
	}
	.area-parts{
		color:#474646;
		font-size:15px;
		text-align:left;
		font-weight:bold;
		position:relative;
		padding-left:1.5em;
	}
	.area-parts::before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 12px;
		height: 12px;
		border: 2px solid #d8d8d8;
		border-radius:50%;
	}
	.area-input:checked + .area-parts::after{
		content: "";
		display: block;
		position: absolute;
		top: 4px;
		left: 4px;
		width: 8px;
		height: 8px;
		background: #ec5832;
		border-radius: 50%;
	}
	.l-table table tr td .l-area-table .p-err {
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		color:#ff1c1c;
		line-height:0;
		visibility:visible;
	}
	.l-table table tr td .l-area-table .p-err.hid {
		visibility:hidden;	
	}
	
	.l-table table tr td .l-area-table > .l-area-detail label{
		padding:13px;
		width:50%;
		display:inline-block;
		text-align:left;
		padding-left:5%;
	}
	.l-table table tr td .l-area-table > .l-area-detail label.dis{
		filter:alpha(opacity=50);
		-moz-opacity: 0.5;
		opacity: 0.5;
	}
	.l-table table tr td .l-area-table > .l-area-detail .p-err {
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		color:#ff1c1c;
		line-height:0;
		visibility:visible;
	}
	.l-table table tr td .l-area-table > .l-area-detail label.err{
		background-color:#ffc3c3;
	}
	.l-table table tr td .l-area-table > .l-area-detail label:hover{
		cursor:pointer;
	}
	.checkbox03-input{
		display: none;
	}
	.checkbox03-parts{
		color:#474646;
		font-size:15px;
		text-align:left;
		font-weight:bold;
		position:relative;
		padding-left:2em;
	}
	.checkbox03-parts::before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 12px;
		height: 12px;
		border: 2px solid #d8d8d8;
	}
	.checkbox03-input:checked + .checkbox03-parts::after{
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		left: 4px;
		width: 5px;
		height: 10px;
		transform: rotate(40deg);
		border-bottom: 3px solid #ed894d;
		border-right: 3px solid #ed894d;
	}
	
	/*step04*/
	.l-table table tr td .l-area-table2 {
		width:100%;
		padding-bottom:20px;
	}
	.l-table table tr td .l-area-table2:last-of-type {
		width:100%;
		padding-bottom:15px;
	}
	.l-table table tr td .l-area-table2 .l-area-header2{
		border:1px solid #d0d0d0;
		border-radius: 10px 10px 0px 0px;
	}
	.l-table table tr td .l-area-table2 .l-area-header2.p-all{
		border:1px solid #d0d0d0;
		border-radius: 10px;
	}
	.l-table table tr td .l-area-table2 .l-area-detail2{
		border:1px solid #d0d0d0;
		border-top:none;
		border-radius: 0px 0px 10px 10px;
		margin-bottom: 5px;
		padding:15px;
	}
	.l-table table tr td .l-area-table2 .l-area-detail2 .p-title{
		font-size: 15px;
		text-align: left;
		font-weight: bold;
		padding-bottom:13px;
	}
	.l-table table tr td .l-area-table2 .l-area-detail2 .p-title span{
		display: inline-block;
	}
	.l-table table tr td .l-area-table2 .l-area-detail2 .p-title span img{
		max-width: 55px;
		width: 100%;
		text-align: left;
		display: inline !important;
		position: relative;
		top: 5px;
    	left: 25px;
	}
	.l-table table tr td .l-area-table2 .l-area-detail2 .p-kibou {
		text-align:center;
		background-color:#f8f8f8;
	}
	
	.l-table table tr td .l-area-table2 > .l-area-header2 label{
		padding:13px;
		width:50%;
		display:inline-block;
	}
	.l-table table tr td .l-area-table2 > .l-area-header2 .p-err {
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		color:#ff1c1c;
		line-height:0;
		visibility:visible;
	}
	.l-table table tr td .l-area-table2 > .l-area-header2 label.err{
		background-color:#ffc3c3;
	}
	.l-table table tr td .l-area-table2 > .l-area-header2 label:hover{
		cursor:pointer;
	}
	.area2-input{
		display: none;
	}
	.area2-parts{
		color:#474646;
		font-size:15px;
		text-align:left;
		font-weight:bold;
		position:relative;
		padding-left:1.2em;
	}
	.area2-parts::before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 12px;
		height: 12px;
		border: 2px solid #d8d8d8;
		border-radius:50%;
	}
	.area2-input:checked + .area2-parts::after{
		content: "";
		display: block;
		position: absolute;
		top: 4px;
		left: 4px;
		width: 8px;
		height: 8px;
		background: #ec5832;
		border-radius: 50%;
	}
	.l-table table tr td .l-area-table2 .p-err {
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		color:#ff1c1c;
		line-height:0;
		visibility:visible;
	}
	.l-table table tr td .l-area-table2 .p-err.hid {
		visibility:hidden;	
	}
	
	.l-table table tr td .l-area-table2 > .l-area-detail2 label{
		padding:13px;
		width:50%;
		display:inline-block;
		text-align:left;
		padding-left:5%;
	}
	.l-table table tr td .l-area-table2 > .l-area-detail2 label.dis{
		filter:alpha(opacity=50);
		-moz-opacity: 0.5;
		opacity: 0.5;
	}
	.l-table table tr td .l-area-table2 > .l-area-detail2 .p-err {
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		color:#ff1c1c;
		line-height:0;
		visibility:visible;
	}
	.l-table table tr td .l-area-table2 > .l-area-detail2 label.err{
		background-color:#ffc3c3;
	}
	.l-table table tr td .l-area-table2 > .l-area-detail2 label:hover{
		cursor:pointer;
	}
	
	.l-table table tr td .l-area-table3 {
		width:100%;
		padding-bottom:20px;
	}
	.l-table table tr td .l-area-table3:last-of-type {
		width:100%;
		padding-bottom:15px;
	}
	.l-table table tr td .l-area-table3 .l-area-header3{
		border:1px solid #d0d0d0;
		border-radius: 10px 10px 0px 0px;
	}
	.l-table table tr td .l-area-table3 .l-area-header3.p-all{
		border:1px solid #d0d0d0;
		border-radius: 10px;
	}
	.l-table table tr td .l-area-table3 .l-area-detail3{
		border:1px solid #d0d0d0;
		border-top:none;
		border-radius: 0px 0px 10px 10px;
		margin-bottom: 10px;
		padding:15px;
	}
	.l-table table tr td .l-area-table3 .l-area-detail3 .p-title{
		font-size: 15px;
		text-align: left;
		font-weight: bold;
		padding-bottom:13px;
	}
	.l-table table tr td .l-area-table3 .l-area-detail3 .p-title span{
		display: inline-block;
	}
	.l-table table tr td .l-area-table3 .l-area-detail3 .p-title span img{
		max-width: 55px;
		width: 100%;
		text-align: left;
		display: inline !important;
		position: relative;
		top: 5px;
		left: 25px;
	}
	.l-table table tr td .l-area-table3 .l-area-detail3 .p-kibou {
		text-align:center;
		background-color:#f8f8f8;
	}
	.l-table table tr td .l-area-table3 .l-area-detail3 .p-kibou.dis {
		text-align:center;
		background-color:#959595;
	}
	
	.l-table table tr td .l-area-table3 > .l-area-header3 label{
		padding:13px 10px 13px 10px;
		width:50%;
		display:inline-block;
	}
	.l-table table tr td .l-area-table3 > .l-area-header3 .p-err {
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		color:#ff1c1c;
		line-height:0;
		visibility:visible;
	}
	.l-table table tr td .l-area-table3 > .l-area-header3 label.err{
		background-color:#ffc3c3;
	}
	.l-table table tr td .l-area-table3 > .l-area-header3 label:hover{
		cursor:pointer;
	}
	.area3-input{
		display: none;
	}
	.area3-parts{
		color:#474646;
		font-size:15px;
		text-align:left;
		font-weight:bold;
		position:relative;
		padding-left:1.2em;
	}
	.area3-parts::before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 12px;
		height: 12px;
		border: 2px solid #d8d8d8;
		border-radius:50%;
	}
	.area3-input:checked + .area3-parts::after{
		content: "";
		display: block;
		position: absolute;
		top: 4px;
		left: 4px;
		width: 8px;
		height: 8px;
		background: #ec5832;
		border-radius: 50%;
	}
	.l-table table tr td .l-area-table3 .p-err {
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		color:#ff1c1c;
		line-height:0;
	}
	.l-table table tr td .l-area-table3 .p-err.hid {
		visibility:hidden;	
	}
	
	.l-table table tr td .l-area-table3 > .l-area-detail3 label{
		padding:13px;
		width:50%;
		display:inline-block;
		text-align:left;
		padding-left:5%;
	}
	.l-table table tr td .l-area-table3 > .l-area-detail3 label.dis{
		filter:alpha(opacity=50);
		-moz-opacity: 0.5;
		opacity: 0.5;
	}
	.l-table table tr td .l-area-table3 > .l-area-detail3 .p-err {
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		color:#ff1c1c;
		line-height:0;
	}
	.l-table table tr td .l-area-table3 > .l-area-detail3 label.err{
		background-color:#ffc3c3;
	}
	.l-table table tr td .l-area-table3 > .l-area-detail3 label:hover{
		cursor:pointer;
	}
	
	/*step05*/
	.l-table table.l-step05-table tr td{
		padding: 15px;
	}
	.l-table table.l-step05-table tr td .p-message{
		font-size:15px;
		color:#474646;
		padding-bottom:15px;
	}
	.l-table table.l-step05-table tr td .p-caution{
		font-size:14px;	
		color:#474646;	
		padding-bottom:15px;
	}
	.l-table table.l-step05-table tr td textarea{
		font-size:16px;	
		color:#474646;
		font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		padding:15px;
	}
	
	/*ボタンレイアウト*/
	.l-button{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:35px 30px 50px;
	}
	.l-button .p-back{
		display:inline-block;
		width: 35%;
		margin:0 auto;
		text-align:left;
		padding:0 15px 0 0;
	}
	.l-button .p-back a{
		width: 100%;
		display:block;
		text-align:center;
		padding:13px 0;
		background-color:#888787;
		color:#FFFFFF;
		text-decoration:none;
		font-size:15px;
		border-radius:10px;
		line-height:1;
	}
	.l-button .p-back input[type="button"]{
		background-color: transparent;
		border: none;
		cursor: pointer;
		outline: none;
		padding: 0;
		appearance: none;
		
		width: 100%;
		display:block;
		text-align:center;
		padding:13px 0;
		background-color:#888787;
		color:#FFFFFF;
		text-decoration:none;
		font-size:15px;
		border-radius:10px;
		line-height:1;
		font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	}
	.l-button .p-next{
		display:inline-block;
		width: 65%;
		margin:0 auto;
		text-align:left;
		padding:0 0 0 10px;
	}
	.l-button .p-next input[type="button"],
	.l-button .p-next input[type="submit"]{
		background-color: transparent;
		border: none;
		cursor: pointer;
		outline: none;
		padding: 0;
		appearance: none;
		
		width: 100%;
		display:block;
		text-align:center;
		padding:13px 0;
		background-color:#e5521f;
		color:#FFFFFF;
		font-size:15px;
		border-radius:10px;
		line-height:1;
		font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	}
	.l-button .p-next input[type="button"].dis{
		background-color:#c9c9c9;
	}
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/