@charset "utf-8";
/* CSS Document */

/*
カラーコード

オレンジ：#e39b33
グレーライン：#dcdcdc
シャドウ：rgba(58,58,58,.4)
ボタンカラー：#de7928


*/
/*-------------------- ▼共通CSS▼ ------------------------*/
html{
	-webkit-text-size-adjust: 100%;
}
body{	
	color:#222222;
	font-family:'Work Sans',Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	/*font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";*/
	font-size:14px;
	line-height:1.7;
	font-weight:500;
	/*letter-spacing:0.05em;*/
	background-color:#FFFFFF;
}

.Midashi{
	font-family: 'Work Sans', sans-serif;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	color:#222222;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	text-decoration:underline;
}
a:hover{
	color:#999999;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	/*filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;*/
}

.border{
	border:1px solid #000000;	
}

header{
	width:100%;
	margin:0 auto;	
	padding:0 0 6px 0;
	background:url(../../images/common/img_header_bottom_sp.jpg) left bottom repeat-x transparent;
	background-size:525px 6px;
	
	position:fixed;
	top:0;
	z-index:10000;
}
.l-header{
	width: 100%;
	background-color:#FFFFFF;
	
}
.l-header-table{
	width:100%;
	margin: 0 auto 0;
	display:table;
	padding:0;
}
.l-header-left{
	display:table-cell;		
	width:100%;
	vertical-align:middle;
	line-height:0;
	padding:0;
}
.l-header-left a{
	display:inline-block;
	padding:12px 0 11px 14px;
	line-height:0;
}
.l-header-left img{
	width:81px;
	height:40px;
}

#wrapper{
	width:100%;
	margin:0 auto;
	/*padding:0;*/
	/*letter-spacing:0.1em;*/
	position:relative;
}

.l-wrapper{
	width:100%;
	margin:0px auto;
}

.l-container{
	width:100%;
	margin:0px auto;
}

.l-inner{
	max-width:768px;
	width:100%;
	margin:0 auto;
	padding:0 42px;
}
.l-inner02{
	max-width:768px;
	width:100%;
	margin:0 auto;
	padding:0 21px;
}

footer{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:28px 0;
	background-color:#000000;
}
footer p{
	font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;	
}
footer .p-message{
	font-size:14px;
	color:#FFFFFF;
}
footer .p-copy{
	font-size:13px;
	color:#818181;
	padding-top:28px;
}
	
.sponly1_5{
	display:block !important;
}

.sponly2{
	display:none !important;
}

/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	header{
		width:100%;
		margin:0 auto;	
		padding:0 0 4px 0;
		background:url(../../images/common/img_header_bottom_sp.jpg) left bottom repeat-x transparent;
		background-size:375px 4px;
		
		position:fixed;
		top:0;
		z-index:10000;
	}
	.l-header{
		width: 100%;
		background-color:#FFFFFF;
		
	}
	.l-header-table{
		width:100%;
		margin: 0 auto 0;
		display:table;
		padding:0;
	}
	.l-header-left{
		display:table-cell;		
		width:100%;
		vertical-align:middle;
		line-height:0;
		padding:0;
	}
	.l-header-left a{
		display:inline-block;
		padding:8px 0 8px 10px;
		line-height:0;
	}
	.l-header-left img{
		width:58px;
		height:29px;
	}
	
	.l-inner{
		max-width:480px;
		width:100%;
		margin:0 auto;
		padding:0 30px;
	}
	.l-inner02{
		max-width:480px;
		width:100%;
		margin:0 auto;
		padding:0 15px;
	}
	
	footer{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:20px 0;
		background-color:#000000;
	}
	footer p{
		font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;	
	}
	footer .p-message{
		font-size:13px;
		color:#FFFFFF;
	}
	footer .p-copy{
		font-size:12px;
		color:#818181;
		padding-top:14px;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:block !important;
	}
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
