@charset "utf-8";
		
.modal-table{
	display:block;
	width:100%;
	height:100%;
	margin:0 auto;
	text-align:center;position: relative;
}
.modal-row{
	display:table;
	width:100%;
	height:100%;
	text-align:center;
}
.modal-cell{
	display:table-cell;
	vertical-align: middle;
	text-align:center;
	padding-top:30px;
	/*position:relative;
	top:5px;*/
	
}
.modal-cell > div{
	display:inline-block;
	position:relative;
	z-index:10001;	
}
.modal-cell div.p-clock{
	display:block;
	background-color:#FFFFFF;
	
}
.modal-cell div.p-date{
	display:block;
	background-color:#e8c446;
	line-height: 1.5;
	text-align: center;
    margin: 0 auto;
	padding:15px 0 15px;
	color:#474646;
	position: relative;
}
.modal-cell div.p-date > div{
	font-size:14px;
	font-weight: bold;
}
.modal-cell div.p-button{
	display:block;
	background-color:#f2f1f0;
	line-height: 0;
	text-align: center;
    margin: 0 auto;
	padding:0px 0 5px;
}
.modal-cell div.p-button > div{
	padding:0px 43px;
}
.modal-cell div.p-button > div > p{
	display:block;
	width:100%;
	padding:0;
}
/*.modal-cell div.p-button > div > p:first-of-type{
	padding-right:0;
}
.modal-cell div.p-button > div > p:last-of-type{
	padding-left:0;
}*/
/*.dw-inline{
	display: table-cell;
    vertical-align: middle;
}*/
.dwbg{
	border-radius:0;	
}
.dwc {
    display:block;
	background-color:#f2f1f0;
}
.sense-ui {
    line-height:0;
}
.sense-ui .dw {
    padding: 0;
    background: #eeeeee;
    border: 2px solid #eeeeee;
    color: #eeeeee;
}
.sense-ui .dwwc {
    background: #f2f1f0;
	padding:0px;
}
.sense-ui .dwwc table {
    width:100%
}
.dwc {
    padding: 18px 2px 0px 2px;
	display:inline-block;
	vertical-align:top;
}
.dwc:first-of-type {
    padding: 40px 40px 0px 40px;
	display:block;
}
.dwc:nth-of-type(2) {
    width:100%;
	padding: 33px 40px 0px 40px;
	float:none;
	
	/*width:48%;
	padding: 33px 0px 0px 40px;
	float:left;*/
}
.dwc:nth-of-type(3) {
    width:100%;
	padding: 5px 40px 0px 40px;
	float:none;
	
	/*width:48%;
	padding: 33px 40px 0px 0px;
	float:right;*/
}
.dwsc .dww {
    background: #FFFFFF !important;
	top:-8px;
	/*height:110px !important;*/
}
.dwsc .dwwl {
    background: none !important;
}
.dw {
    -webkit-tap-highlight-color: transparent !important;
}
.dwwl {
    margin: 8px 0px 0;
    padding: 0 0px;
    position: relative;
    z-index: 5;
}
.dwwo {
    background: transparent !important;
}
.dwwol {
    border-top: none !important;
    border-bottom: none !important;
}
.dw-ul {
    background: #FFFFFF;
}
.dw-li {
    text-shadow: none;
	/*height: 30px !important;*/
	/*line-height:30px !important;*/
}
.dw-bf {
    background: #FFFFFF;
}
.dw-i{
	color:#ccc;
	font-size: 16px;
	text-align: center;
}
.dw-sel .dw-i{
	color:#333;
	font-size: 16px;
}
.dwl {
    line-height: 2;
    height: auto;
    white-space: nowrap;
    position: absolute;
    top: -36px;
    width: 100%;
    color: #000000;
	text-align:left;
	font-size: 14px;
}
.demos input{
	padding: 5px;
    font-size: 12px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    width: 330px;
    font-weight: normal;
}
.js-cancel{
	display:inline-block;
	background-color: #FFFFFF;
	border: none;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	padding: 12px 0px;
	width:100%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:14px;
}
.js-ok{
	display:inline-block;
	background-color: #e5521f;
	border: none;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	padding: 15px 0px;
	width:100%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:14px;
	color:#FFFFFF;
	border-radius:5px;
}

.modal{
	width:100%;
	position:fixed;
	top:0;
	z-index:9999;
}
.modal-back{
	width:100%;
	position:fixed;
	top:0;
	background-color:rgba(0,0,0,0.6);
	z-index:10000;
}

.while{
	width:auto;
	color: #000000;
    display: inline-block;
    vertical-align: top;
	line-height: 2;
	position:relative;
	top:0;
	
	display:none !important;
}

.p-close{
	position: absolute;
    top: -48px;
    right: 0;
}
.p-close img{
	max-width:36px;
	width:100%;
}

/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.modal-cell div.p-date{
		display:block;
		background-color:#e8c446;
		line-height: 1.2;
		text-align: center;
		margin: 0 auto;
		padding:8px 0px;
		color:#474646;
		position: relative;
	}	
	.modal-cell div.p-date > div{
		font-size:14px;
	}
	.dwl {
		line-height: 1;
		height: auto;
		white-space: nowrap;
		position: absolute;
		top: -26px;
		width: 100%;
		color: #000000;
		text-align:left;
		font-size: 14px;
	}
	.dwc:first-of-type {
		padding: 23px 12px 0px 12px;
		display: block;
	}
	.dwc:nth-of-type(2) {
		width:100%;
		padding: 20px 12px 0px 12px;
		float:none;
		
		/*width:47%;
		padding: 33px 0px 0px 15px;
		float:left;*/
	}
	.dwc:nth-of-type(3) {
		width:100%;
		padding: 0px 12px 0px 12px;
		float:none;
		margin-top: 0px;
		
		/*width:47%;
		padding: 33px 15px 0px 0px;
		float:right;*/
	}
	.js-ok{
		display:inline-block;
		background-color: #e5521f;
		border: none;
		cursor: pointer;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 10px 0px;
		width:100%;
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
		font-size:14px;
		color:#FFFFFF;
		border-radius:5px;
	}
	.modal-cell div.p-button {
		display: block;
		background-color: #f2f1f0;
		line-height: 0;
		text-align: center;
		margin: 0 auto;
		padding: 0px 0 12px;
	}
	.modal-cell div.p-button > div {
		padding: 0px 14px;
	}
	
	.while{
		width:auto;
		color: #000000;
		display: inline-block;
		vertical-align: top;
		line-height: 2;
		position:relative;
		top:-7px;
		
		display:none !important;
	}
	
	.p-close{
		position: absolute;
		top: -25px;
		right: 0;
	}
	.p-close img{
		max-width:20px;
		width:100%;
}
}